<header>
    <ul>
        <li>
            <a href="/books">Books</a>
        </li>
        <li>
            <a href="/books/create">Add Books</a>
        </li>
        <li>
            <a href="/authors">Authors</a>
        </li>
        <li>
            <a href="/authors/create">Add Author</a>
        </li>
    </ul>
</header>